<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%= theme.about.avatar %>">
    <% if(page.path == 'index.html') {%>
    <title><%= config.title %></title>
    <% } else { %>
    <title><%=page.title + ' - ' + config.title%></title>
    <% } %>
    <%- css('css/basic.css') %>
</head>
<body>
    <%- partial('partial/header')%>
    <%- body %>
    <%- partial('partial/footer')%>
    
    <% console.log('------site.posts.data[0].path------') %>
    <% console.log(site.posts.data[0].path) %>
    <% console.log('------site.posts.data[0].permalink------') %>
    <% console.log(site.posts.data[0].permalink) %>
    <% console.log('------site.posts.data[0].full_source------') %>
    <% console.log(site.posts.data[0].full_source) %>
    <% console.log('------site.posts.data[0].asset_dir------') %>
    <% console.log(site.posts.data[0].asset_dir) %>
    <% console.log('------site.posts.data[0].tags------') %>
    <% console.log(site.posts.data[0].tags) %>
    <% console.log('------site.posts.data[0].categories------') %>
    <% console.log(site.posts.data[0].categories) %>
</body>
</html>