<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=page.title%></title>
    <style>
        body {
            width: 70vw;
            margin: 0 auto;
            background-color: #FAFAFA;
            font-family: 'Google Sans', 'Source Han Sans SC', sans-serif;
            font-weight: 300;
            font-size:26px;

        }

        a{
            text-decoration: none;
            color: #000;
        }
        a:hover{          
            color: #d7bcff; 
        }
        b{
            font-weight:700;
        }
        header {
            display: block;
            font-size: 25px;  
            padding-top: 8vw;  
        }
        article {
            display: block;
            margin-top: 50px;
            line-height: 1.5em;
        }
        
    </style>
    <title>Document</title>
</head>
<body>
    <p>'debug' current path : <%- path %></p>
    <%- partial('partial/header')%>
    <%- body %>
    <%- partial('partial/footer')%>
</body>
</html>