<%- css('css/header.css') %>

<% if( page.path == 'index.html'){ %>
<header>
    <a>
        <!-- this can be replaced with the logo(image) of the website. -->
        <h1><%= config.title %></h1>
        <% if(config.subtitle) { %>
        <h2><%= config.subtitle %></h2>
        <% } %>
    </a>
</header>
<% } else { %>
<script>
    window.addEventListener('load', () => {
    let headerBtn = document.querySelector('.moreBtn');
    let siteNav = document.querySelector('.siteNav');
    let posContainer = document.querySelector('#headerPosContainer');
    let navFullHeightThree = 390; //Because the navbar's display is none, and I haven't found a way to get it's height, I will hard code this.Will Change later.
    let navFullHeightTwo = 478;
    let breakpointWindth = 520;
    let burgerUp = document.querySelector('i.breadBtn.breadTop');
    let burgerDown = document.querySelector('i.breadBtn.breadBottom');
    if(window.innerWidth >= breakpointWindth){
        var navFullHeight = navFullHeightThree;
    }else{
        var navFullHeight = navFullHeightTwo;
    }

    let animateFold = true; //true => the next animation should unfold the nav bar

    let btnTl1 = gsap.timeline({ paused: true, defaults: { duration: 0.3, ease:'power4.inOut' }});
    btnTl1.to(burgerUp, {y:'6.2px'})
    btnTl1.to(burgerDown, {y:'-6.2px'}, '<')
    btnTl1.to(burgerUp, {rotate:45})
    btnTl1.to(burgerDown, {rotate:-45}, '<')

    headerBtn.addEventListener('click', function () {
        if (animateFold) { //the process should unfold the navbar
            animateFold = false;
            gsap.to(siteNav, {
                duration:.8,
                ease:'power4.inOut',
                height:navFullHeight,
                opacity:1
            })
            btnTl1.play()
        }
        else {
            animateFold = true;
            gsap.to(siteNav, {
                duration:.8,
                ease:'power4.inOut',
                height:0,
                opacity:0
            })
            btnTl1.reverse()
        }
    })

    function setSmoothAnimate(obj, target, callback){
        clearInterval(obj.timer)
        obj.timer = setInterval(function(){
            let move = (target - obj.offsetHeight)/10;
            move=move > 0 ? Math.ceil(move):Math.floor(move);
            obj.style.height = obj.offsetHeight + move + 'px';
            obj.style.opacity = (obj.offsetHeight / navFullHeight);
            if(obj.offsetHeight == target){
                    clearInterval(obj.timer)
                    if(callback){
                        callback()
                    }
            }   
        }, 15)
    }
})
</script>
<header>
    <div id="headerShow">
        <div id="headerPosContainer">
            <a href="/" class="headerPos" id="logo"><%= config.title %></a>
            <% if (page.type == "post") { %>
                <% if(page.categories && page.categories.data.length) {%>
                    <span class="headerPos">/</span>
                    <% for(const item of page.categories.data) { %>
                        <a 
                          href="<%= url_for(item.path) %>" 
                          class="post-meta-link headerPos">
                          <%= item.name %>
                        </a>
                    <% } %>
                <% } %>
                <% if(page.date) {%>
                    <span class="headerPos">/</span>
                    <time class="headerPos"><%= page.date.format(config.date_format)%></time>
                <% } %>
                <% if(page.author) {%>
                    <span class="headerPos">/</span>
                    <span class="headerPos">By <%= page.author %></span>
                <% } %>
            <% } else if (page.type == 'categories') {%>
                <span class="headerPos">/</span>
                <span class="headerPos">Categories</span>
            <% } else if (page.type == 'tags') {%>
                <span class="headerPos">/</span>
                <span class="headerPos">Tags</span>
            <% } else if (page.type == 'category') { %>
                <span class="headerPos">/</span>
                <a class="headerPos" href="/categories">Category</a>
                <span class="headerPos">/</span>
                <span class="headerPos"><%- page.category %></span>
            <% } else if (page.type == 'tag') { %>
                <span class="headerPos">/</span>
                <a class="headerPos" href="/tags">Tag</a>
                <span class="headerPos">/</span>
                <span class="headerPos"><%- page.tag %></span>
            <% } %>
        </div>
        <button class="moreBtn" title="Menu">
            <i class="breadBtn breadTop"></i>
            <i class="breadBtn breadBottom"></i>                     
        </button>
    </div>
    <%- partial('partial/nav', {topOrPage:'top'})%>
</header>
<% } %>