<style>
    #headerShow {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #headerPosContainer {
            display: block;

        }

        .headerPos {
            display: inline-block;
            margin-right: 10px;
            cursor:default;
        }

        #moreBtn {
            display: block;
            height: 30px;
            border: none;
            background-color: rgba(255, 255, 255, 0);
            width: 30px;
            background-image: url(https://pic.stackoverflow.wiki/uploadImages/111/27/28/197/2021/08/22/17/22/e504eeea-9516-45a2-8fca-e2548697bdd6.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        #logo {
            font-weight: 700;
            color: #000;
        }

        #logo:hover {
            color: tomato
        }
</style>
<% if( page.path == 'index.html'){ %>
<header>
    <a>
        <!-- this can be replaced with the logo(image) of the website. -->
        <h1><%= config.title %></h1>
        <% if(config.subtitle) { %>
        <h2><%= config.subtitle %></h2>
        <% } %>
    </a>
</header>
<% } else { %>
<script>
    window.addEventListener('load', () => {
    let headerBtn = document.querySelector('#moreBtn');
    let siteNav = document.querySelector('.siteNav');
    let navFullHeight = 390; //Because the navbar's display is none, and I haven't found a way to get it's height, I will hard code this.Will Change later.
    let animateFold = true; //true => the next animation should unfold the nav bar

    headerBtn.addEventListener('click', function () {
        if (animateFold) { //the process should unfold the navbar
            animateFold = false;
            setSmoothAnimate(siteNav, navFullHeight)
        }
        else {
            animateFold = true;
            setSmoothAnimate(siteNav, 0)
        }
    })

    function setSmoothAnimate(obj, target, callback){
        clearInterval(obj.timer)
        obj.timer = setInterval(function(){
            let move = (target - obj.offsetHeight)/10;
            move=move > 0 ? Math.ceil(move):Math.floor(move);
            obj.style.height = obj.offsetHeight + move + 'px';
            obj.style.opacity = (obj.offsetHeight / navFullHeight);
            if(obj.offsetHeight == target){
                    clearInterval(obj.timer)
                    if(callback){
                        callback()
                    }
            }   
        }, 15)
    }
})
</script>
<header>
    <div id="headerShow">
        <div id="headerPosContainer">
            <a href="/" class="headerPos" id="logo"><%= config.title %></a>
            <% if (page.type == "post") { %>
                <% if(page.categories && page.categories.data.length) {%>
                    <span class="headerPos">/</span>
                    <% for(const item of page.categories.data) { %>
                        <a 
                          href="<%= url_for(item.path) %>" 
                          class="post-meta-link headerPos">
                          <%= item.name %>
                        </a>
                    <% } %>
                <% } %>
                <% if(page.date) {%>
                    <span class="headerPos">/</span>
                    <time class="headerPos"><%= page.date.format(config.date_format)%></time>
                <% } %>
                <% if(page.author) {%>
                    <span class="headerPos">/</span>
                    <span class="headerPos">By <%= page.author %></span>
                <% } %>
            <% } else if (page.type == 'categories') {%>
                <span class="headerPos">/</span>
                <span class="headerPos">Categories</span>
            <% } else if (page.type == 'tags') {%>
                <span class="headerPos">/</span>
                <span class="headerPos">Tags</span>
            <% } else if (page.type == 'category') { %>
                <span class="headerPos">/</span>
                <a class="headerPos" href="/categories">Category</a>
                <span class="headerPos">/</span>
                <span class="headerPos"><%- page.category %></span>
            <% } else if (page.type == 'tag') { %>
                <span class="headerPos">/</span>
                <a class="headerPos" href="/tags">Tag</a>
                <span class="headerPos">/</span>
                <span class="headerPos"><%- page.tag %></span>
            <% } %>
        </div>
        <button id="moreBtn"></button>
    </div>
    <%- partial('partial/nav', {topOrPage:'top'})%>
</header>
<% } %>