<%- css('css/header.css') %>

<% if( page.path == 'index.html'){ %>
<header>
    <a>
        <!-- this can be replaced with the logo(image) of the website. -->
        <h1><%= config.title %></h1>
        <% if(config.subtitle) { %>
        <h2><%= config.subtitle %></h2>
        <% } %>
    </a>
</header>
<% } else { %>
<script>
    window.addEventListener('load', () => {
    let headerBtn = document.querySelector('#moreBtn');
    let siteNav = document.querySelector('.siteNav');
    let posContainer = document.querySelector('#headerPosContainer');
    let navFullHeightThree = 390; //Because the navbar's display is none, and I haven't found a way to get it's height, I will hard code this.Will Change later.
    let navFullHeightTwo = 478;
    let breakpointWindth = 520

    if(window.innerWidth >= breakpointWindth){
        var navFullHeight = navFullHeightThree;
    }else{
        var navFullHeight = navFullHeightTwo;
    }

    let animateFold = true; //true => the next animation should unfold the nav bar

    headerBtn.addEventListener('click', function () {
        if (animateFold) { //the process should unfold the navbar
            animateFold = false;
            gsap.to(siteNav, {
                duration:.8,
                ease:'power4.inOut',
                height:navFullHeight,
                opacity:1
            })
            posContainer.style.whiteSpace = 'normal';
        }
        else {
            animateFold = true;
            gsap.to(siteNav, {
                duration:.8,
                ease:'power4.inOut',
                height:0,
                opacity:0
            })
            posContainer.style.whiteSpace = 'nowrap';
        }
    })

    function setSmoothAnimate(obj, target, callback){
        clearInterval(obj.timer)
        obj.timer = setInterval(function(){
            let move = (target - obj.offsetHeight)/10;
            move=move > 0 ? Math.ceil(move):Math.floor(move);
            obj.style.height = obj.offsetHeight + move + 'px';
            obj.style.opacity = (obj.offsetHeight / navFullHeight);
            if(obj.offsetHeight == target){
                    clearInterval(obj.timer)
                    if(callback){
                        callback()
                    }
            }   
        }, 15)
    }
})
</script>
<header>
    <div id="headerShow">
        <div id="headerPosContainer">
            <a href="/" class="headerPos" id="logo"><%= config.title %></a>
            <% if (page.type == "post") { %>
                <% if(page.categories && page.categories.data.length) {%>
                    <span class="headerPos">/</span>
                    <% for(const item of page.categories.data) { %>
                        <a 
                          href="<%= url_for(item.path) %>" 
                          class="post-meta-link headerPos">
                          <%= item.name %>
                        </a>
                    <% } %>
                <% } %>
                <% if(page.date) {%>
                    <span class="headerPos">/</span>
                    <time class="headerPos"><%= page.date.format(config.date_format)%></time>
                <% } %>
                <% if(page.author) {%>
                    <span class="headerPos">/</span>
                    <span class="headerPos">By <%= page.author %></span>
                <% } %>
            <% } else if (page.type == 'categories') {%>
                <span class="headerPos">/</span>
                <span class="headerPos">Categories</span>
            <% } else if (page.type == 'tags') {%>
                <span class="headerPos">/</span>
                <span class="headerPos">Tags</span>
            <% } else if (page.type == 'category') { %>
                <span class="headerPos">/</span>
                <a class="headerPos" href="/categories">Category</a>
                <span class="headerPos">/</span>
                <span class="headerPos"><%- page.category %></span>
            <% } else if (page.type == 'tag') { %>
                <span class="headerPos">/</span>
                <a class="headerPos" href="/tags">Tag</a>
                <span class="headerPos">/</span>
                <span class="headerPos"><%- page.tag %></span>
            <% } %>
        </div>
        <button id="moreBtn">
            <svg width="100%" height="100%" viewBox="0 0 40 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <g transform="matrix(1,0,0,0.849206,2.52435e-29,-5.09524)">
                    <path d="M40,6.9C40,6.403 39.658,6 39.236,6L0.764,6C0.342,6 0,6.403 0,6.9L0,11.1C0,11.597 0.342,12 0.764,12L39.236,12C39.658,12 40,11.597 40,11.1L40,6.9Z"/>
                </g>
                <g transform="matrix(1,0,0,0.849206,2.52435e-29,13.8095)">
                    <path d="M40,6.9C40,6.403 39.658,6 39.236,6L0.764,6C0.342,6 0,6.403 0,6.9L0,11.1C0,11.597 0.342,12 0.764,12L39.236,12C39.658,12 40,11.597 40,11.1L40,6.9Z"/>
                </g>
            </svg>
        </button>
    </div>
    <%- partial('partial/nav', {topOrPage:'top'})%>
</header>
<% } %>