<%# use topOrPage to designate whether needs to show or not %> 
<%# 'top' means hide by default, other means show by default %> 

<%- css('css/nav.css') %>

<% if(topOrPage == 'top') { %>
<nav class="siteNav siteNavTop">
<% } else { %>
<nav class="siteNav siteNavPage">
<% } %>

    <ul class="navList">
        <li><b><a href="/posts">Posts</a></b></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/posts">more...</a></li>
        <!-- <% for( let i = 0; i < (theme.nav.limit_item_lines - 1); i++ ) { %>
            <% if (site.categories.data[i]) { %>
                <li><a href="<%= url_for(site.categories.data[i].path) %>"><%= site.categories.data[i].slug %></a></li>
            <% } %>
        <% } %> -->
        
    </ul>
        
    <ul class="navList">
        <li><b><a href="javascript:;">Subscribe</a></b></li>
        <li><a href="<%= theme.about.socialNetwork.github %>">Github</a></li>
        <li><a href="<%= theme.about.socialNetwork.twitter %>">Twitter</a></li>
        <li><a href="javascript:;">RSS</a></li>
    </ul>
    <ul class="navList">
        <li><b><a href="javascript:;">Robert Zhao</a></b></li>
        <li><a href="javascript:;">From 2021</a></li>
        <li><a href="">[at] XUPT</a></li>
        <li><a href="https://polished-bongo-459.notion.site/aa73e726ef624af591c40960eb8eb18d?v=39cbfdff7a25435b831f3cf801033d42">On Notion</a></li>
    </ul>
    <% for( let i = 0; i < 3; i++ ) { %>
        <ul class="navList">
            <% if (site.categories.data[i]) { %>
                <li><b><a href="<%= url_for(site.categories.data[i].path) %>"><%= site.categories.data[i].slug %></a></b></li>
            
                    <% for( let ii = 0; ii < (theme.nav.limit_item_lines - 1); ii++ ) { %>
                        <% if (site.categories.data[i].posts.data[ii]) { %>
                            <li><a href="<%= url_for(site.categories.data[i].posts.data[ii].path) %>"><%= site.categories.data[i].posts.data[ii].title %></a></li>
                        <% } %>
                    <% } %>
                    <li><a href="<%= url_for(site.categories.data[i].path) %>">more...</a></li>
                    
            <% } %>
            
        </ul>
    <% } %>
</nav>
