<%# use topOrPage to designate whether needs to show or not %> 
<%# 'top' means hide by default, other means show by default %> 
<style>
    .siteNav{
            display: grid;
            overflow:hidden;
            margin-top: 20px;
            grid-template-columns:repeat(3,1fr);
            grid-gap: 3.5rem 2rem;
            font-size: 25px;
            font-weight: 300;
        }
        .siteNav.siteNavTop{
            height:0px;
            opacity: 0;
        }
        .siteNav.siteNavinPage{
            margin-top:100px;
        }
        .navList{
            list-style-type: none;
            margin: 0;
            padding: 0;    
        }
        .navList li{
            padding-bottom: 10px;
            text-align: left;
        }
</style>
<% if(topOrPage == 'top') { %>
<nav class="siteNav siteNavTop">
<% } else { %>
<nav class="siteNav siteNavPage">
<% } %>

    <ul class="navList">
        <li><b><a href="/categories">Categories</a></b></li>
        <% for( let i = 0; i < (theme.nav.limit_item_lines - 1); i++ ) { %>
            <li><a href="<%= url_for(site.categories.data[i].path) %>"><%= site.categories.data[i].slug %></a></li>
        <% } %>
        <li><a href="/categories">more...</a></li>
    </ul>
        
    <ul class="navList">
        <li><b><a href="javascript:;">Subscribe</a></b></li>
        <li><a href="">Github</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">RSS</a></li>
    </ul>
    <ul class="navList">
        <li><b><a href="">Address</a></b></li>
        <li><a href="">News</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">About Us</a></li>
    </ul>
    <% for( let i = 0; i < 3; i++ ) { %>
        <ul class="navList">
            <li><b><a href="<%= url_for(site.categories.data[i].path) %>"><%= site.categories.data[i].slug %></a></b></li>

                
                    <% for( let ii = 0; ii < (theme.nav.limit_item_lines - 1); ii++ ) { %>
                        <% if (site.categories.data[i].posts.data[ii]) { %>
                            <li><a href="<%= url_for(site.categories.data[i].posts.data[ii].path) %>"><%= site.categories.data[i].posts.data[ii].title %></a></li>
                        <% } %>
                    <% } %>


            <li><a href="<%= url_for(site.categories.data[i].path) %>">more...</a></li>
        </ul>
    <% } %>
</nav>
